@model List<Inmueble>;
@{
    ViewData["Title"] = "Resultados de la búsqueda";
    string? FechaInicio = Context.Request.Query ["FechaInicio"].First ();
    string? FechaFin = Context.Request.Query ["FechaFin"].First ();
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <h2> Inmuebles disponibles entre @FechaInicio y @FechaFin</h2>
    
    @if (Model.Count () == 0) {
        <h1 class="text-danger">No hay resultados</h1>
    } else {
        <table class="table">
            <thead>
                <tr>
                <th>#</th>
                <th>Dirección</th>
                <th>Tipo</th>
                <th>Superficie en m&#178;</th>
                <th>Uso</th>
                <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                    <td>@item.ID</td>
                    <td><a asp-action="Detalles" asp-route-id= "@item.ID">@item.Dirección</a></td>
                    <td>@item.Tipo</td>
                    <td>@item.Superficie</td>
                    <td>@item.Uso</td>
                    <td>@item.Precio</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
