@model Inmueble;
@{
    List<Propietario> ListaPropietarios = ViewBag.Propietarios;
    IEnumerable <Propietario> Dueños = ListaPropietarios.Where (item => item.ID == Model.IDPropietario);
    List <Contrato> ListaContratos = ViewBag.Contratos;
    IEnumerable <Contrato> Contratos = ListaContratos.Where (item => item.Propiedad == Model.ID);
    List <Inquilino> Inquilinos = ViewBag.Inquilinos;
    string? DatoAMostrar = Dueños.First ().Nombre;
    ViewData["Title"] = @Model.Dirección;
}

<div class="text-center">
    @if (Model.Disponible == 0) {
        <h1 class="display-4 text-danger">@ViewData["Title"]</h1>
    } else {
        <h1 class="display-4">@ViewData["Title"]</h1>
    }
    <p>
        <h2>@Model.Tipo</h2>
        <h2>Para uso @Model.Uso</h2>
        @if (Model.Tipo != "Terreno") {
            <h2>@Model.Ambientes ambiente(s)</h2>
        }
        <p>
            Superficie: @Model.Superficie m&#178; <br>
            @if (Model.IDPropietario != null) {
                <span>Dueño: <a asp-action="Detalles" asp-controller="Propietario" asp-route-id="@Model.IDPropietario"> @DatoAMostrar </a> <br></span>
            } else {
                <span>@DatoAMostrar<br></span>
            }
            @if (Model.Disponible == 0) {
                <span> Inmueble no disponible </span> <br>
            } else {
                <span>En alquiler por $@Model.Precio</span> <br>
            }
            Coordenadas:&#20;
            @if (Model.CoordenadasX < 0) {
                <span>@Math.Abs(Model.CoordenadasX) O, </span>
            } else {
                <span>@Model.CoordenadasX E,</span>
            }
            @if (Model.CoordenadasY < 0) {
                <span>@Math.Abs(Model.CoordenadasY) S </span>
            } else {
                <span>@Model.CoordenadasY N</span>
            }
        </p>
        @if (Contratos.Count () > 0) {
            <h3>Contratos que usaron éste inmueble</h3>
            <table class="table text-center">
                <thead>
                    <tr>
                    <th>#</th>
                    <th>Locatario</th>
                    <th>Desde</th>
                    <th>Hasta</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Contratos) {
                        var InquilinoSeleccionado = Inquilinos.Where (i => i.ID == item.Locatario).First ();
                        @if (item.Vigente == 0) {
                            <tr>
                                <td>@item.ID</td>
                                <td>
                                    <a asp-controller="Inquilino" asp-action="Detalles" asp-route-id="@InquilinoSeleccionado.ID">@InquilinoSeleccionado.Nombre</a>
                                </td>
                                <td>@item.FechaContrato.Day - @item.FechaContrato.Month - @item.FechaContrato.Year</td>
                                <td>@item.FechaLímite.Day - @item.FechaLímite.Month - @item.FechaLímite.Year</td>
                                <td>
                                    Expirado <a asp-controller="Contrato" asp-action="Detalles" asp-route-id="@item.ID">(Detalles)</a>
                                </td>
                            </tr>
                        } else {
                            <tr class="bg-success">
                                <td>@item.ID</td>
                                <td>
                                    <a asp-controller="Inquilino" asp-action="Detalles" asp-route-id="@InquilinoSeleccionado.ID">@InquilinoSeleccionado.Nombre</a>
                                </td>
                                <td>@item.FechaContrato.Day - @item.FechaContrato.Month - @item.FechaContrato.Year</td>
                                <td>@item.FechaLímite.Day - @item.FechaLímite.Month - @item.FechaLímite.Year</td>
                                <td>
                                    Vigente <a asp-controller="Contrato" asp-action="Detalles" asp-route-id="@item.ID">(Detalles)</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        } else {
            <h3>Éste inmueble no fue alquilado aún.</h3>
        }
    </p>
    <a asp-action="Editar" asp-route-id= "@Model.ID"> <button class="btn btn-warning">Editar éste inmueble</button> </a><br>
    <a asp-action="Borrar" asp-route-id= "@Model.ID"><button class="btn btn-danger">Borrar éste inmueble</button></a>
</div>