@model Inmueble;
@{
    ViewData["Title"] = "Editando un Inmueble";
    List <Propietario> ListaPropietarios = ViewBag.Propietarios;
    int IDSeleccionado = Model.ID;
    IEnumerable <Propietario> ItemsSeleccionados = ListaPropietarios.Where(item => item.ID == Model.IDPropietario);
}

<div class="text-center">
    <h1 class="display-4">Editando Inmueble #@Model.ID</h1>

    <form asp-action="Editar" method="post">
        <label for="CampoNombre">Dirección:</label>
        <input type="text" name="Dirección" id="CampoDirección" placeholder="@Model.Dirección" value="@Model.Dirección"/> <br>
        <label for="CampoNombre">Superficie en m&#178;:</label>
        <input type="tel" name="Superficie" id="CampoSuperficie" max="65535" min="1" size="5" placeholder="@Model.Superficie" value="@Model.Superficie"/> <br>
        <label for="CampoNombre">Precio del alquiler:</label>
        <input type="tel" name="Precio" id="CampoPrecio" max="2147483647" min="0" size="10" placeholder="@Model.Precio" value="@Model.Precio"/> <br>
        <label for="CampoPropietario">Dueño:</label>
        <select id="CampoPropietario" name="IDPropietario">
            <option value="null">Sin dueño</option>
            @if (ItemsSeleccionados.Count() != 0) {
                <option selected value="@Model.IDPropietario">Dueño original: @ItemsSeleccionados.First().Nombre</option>
            }
            @foreach (var item in ListaPropietarios) {
                <option value="@item.ID">@item.Nombre &#40;#@item.ID&#41;</option>
            }
        </select>
        <br>
        <label for="CampoTipo">Tipo:</label>
        <select id="CampoTipo" name="Tipo">
            <option value="@Model.Tipo" selected>@Model.Tipo</option>
            <option value="null">Sin especificar</option>
            <option value="Casa">Casa</option>
            <option value="Departamento">Departamento</option>
            <option value="Galpón">Galpón</option>
            <option value="Local">Local</option>
            <option value="Terreno">Terreno</option>
        </select>
        <br>
        <label for="CampoUso">Para uso:</label>
        <select id="CampoUso" name="Uso">
            <option value="@Model.Uso" selected>@Model.Uso</option>
            <option value="null">Sin especificar</option>
            <option value="Personal">Personal</option>
            <option value="Comercial">Comercial</option>
        </select>
        <br>
        <label for="CampoAmbientes"><abbr title="Especificar 0 ambientes si es un terreno.">Ambientes</abbr></label>
        <input type="number" name="Ambientes" min="0" max="127" size="3" id="CampoAmbientes" placeholder="@Model.Ambientes" value="@Model.Ambientes"/>
        <br>
        <label for="Disponible1">Disponible</label>
        <input class="form-check-input" type="radio" name="Disponible" value="1" id="Disponible1" checked> <br>
        <label for="Disponible0">No disponible</label>
        <input class="form-check-input" type="radio" name="Disponible" value="0" id="Disponible0">
        <br>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>