@model List<Inmueble>;
@{
    ViewData["Title"] = "Central de Inmuebles";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>
        Si aparece aquí es porque está en alquiler.<br>
        <a asp-action="Nuevo">Nueva entrada</a> <br>
        <a asp-action="BuscarPorFecha">Buscar por fecha</a>
    </p>
    <ul>

    </ul>
    <table class="table">
        <thead>
            <tr>
            <th>#</th>
            <th>Dirección</th>
            <th>Tipo</th>
            <th>Superficie en m&#178;</th>
            <th>Uso</th>
            <th>Precio</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            if (item.Disponible == 1) {
                <tr>
                <td>@item.ID</td>
                <td><a asp-action="Detalles" asp-route-id= "@item.ID">@item.Dirección</a></td>
                <td>@item.Tipo</td>
                <td>@item.Superficie</td>
                <td>@item.Uso</td>
                <td>@item.Precio</td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>
