@model Inquilino;
@{
    ViewData["Title"] = Model.Nombre;
    List <Contrato> ListaContratos = ViewBag.Contratos;
    List <Inmueble> ListaInmuebles = ViewBag.Inmuebles;
    IEnumerable <Contrato> ContratosSeleccionados = ListaContratos.Where (item => item.Locatario == Model.ID);
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>
        DNI: @Model.DNI <br>
        Contacto: @Model.Contacto <br>
        Inquilino registrado en la inmobiliaria. <br>
        Presente en éstos contratos:
    </p>
    <ul>
        @foreach (var item in ContratosSeleccionados) {
            Inmueble InmuebleSeleccionado = ListaInmuebles.Where (casa => casa.ID == item.Propiedad).First ();
            <li><a asp-action="Detalles" asp-controller="Contrato" asp-route-id="@item.ID"> #@item.ID</a>, en <a asp-action="Detalles" asp-controller="Inmueble" asp-route-id="@item.Propiedad">@InmuebleSeleccionado.Dirección</a></li>
        }
    </ul>
    <a asp-action="Editar" asp-route-id="@Model.ID"><button class="btn btn-warning">Editar éste inquilino</button></a>
    <a asp-action="Borrar" asp-route-id="@Model.ID"><button class="btn btn-danger">Borrar éste inquilino</button></a> <br><br>
    <a asp-action="Nuevo"><button class="btn btn-success">Añadir uno nuevo</button></a>
</div>
