@model Pago;
@{
    ViewData["Title"] = "Editar Pago";
    string FechaPago = Model.FechaPago.ToString ("yyyy-MM-dd");
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"] #@Model.ID</h1>

    <form asp-action="Editar" method="post">
        <input type="hidden" value="@Model.IdContrato" name="IdContrato"/>
        <h4>Pago correspondiente al <a asp-controller="Contrato" asp-action="Detalles" asp-route-id="@Model.IdContrato">contrato #@Model.IdContrato</a> </h4>
        <label for="CampoNumPago">Pago mensual número: </label>
        <input type="tel" name="NumeroPago" id="CampoNumPago" size="2" value="@Model.NumeroPago"/> <br>
        <label for="CampoMonto">Monto:</label>
        <input type="text" name="Monto" id="CampoMonto" value="@Model.Monto"/> <br>
        <label for="CampoFecha">Fecha del pago</label>
        <input type="date" name="FechaPago" id="CampoFecha" value="@FechaPago"/> <br>
        @if (Model.Pagado != 1) {
            <label for="PagadoTrue">Pagado</label>
            <input class="form-check-input" type="radio" name="Pagado" value="1" id="PagadoTrue"> <br>
            <label for="PagadoFalse">Sin pagar</label>
            <input class="form-check-input" type="radio" name="Pagado" value="0" id="PagadoFalse" checked> <br>
        } else {
            <input type="hidden" name="Pagado" value="1"/>
            <h4>Inmueble pagado.</h4>
        }
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </form>
</div>