@model List<Pago>;
@{
    ViewData["Title"] = "Central de Pagos";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>
        @Model.Count() transacciones registradas. <br>
        <a asp-action="Nuevo"> <button class="btn btn-success"> Nuevo pago </button> </a>
    </p>
    <table class="table primary">
        <th>#</th>
        <th>Contrato</th>
        <th>Pago #</th>
        <th>Monto</th>
        <th>Fecha del pago</th>
        @foreach (var item in Model) {
            <tr>
                <td>@item.ID</td>
                <td>@item.IdContrato</td>
                <td>@item.NumeroPago</td>
                <td>@item.Monto</td>
                <td>@item.FechaPago.Day - @item.FechaPago.Month - @item.FechaPago.Year </td>
                <td><a type="button" asp-action="Editar" asp-route-id= "@item.ID">Editar</a></td>
                <td><a type="button" asp-action="Borrar" asp-route-id= "@item.ID">Borrar</a></td>
            </tr>
        }
    </table>
</div>
