@model Propietario;
@{
    ViewData["Title"] = Model.Nombre;
    List <Inmueble> ListaInmuebles = ViewBag.ListaInmuebles;
    List <Inmueble> InmueblesSeleccionados = ListaInmuebles.Where (item => item.IDPropietario == Model.ID).ToList ();
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>
        Contacto: @Model.Contacto <br>
        DNI: @Model.DNI
    </p>
    <p>
        Propietario de éstos inmuebles:
    </p>
    <ul>
        @if (InmueblesSeleccionados.Count () == 0) {
            <li>
                Ningún inmueble
            </li>
        } else {
            foreach (var item in InmueblesSeleccionados) {
                if (item.Disponible == 0) {
                    <li class="text-danger">
                        <del>
                            <a asp-action="Detalles" asp-controller="Inmueble" asp-route-id="@item.ID"> @item.Dirección </a> &#40;#@item.ID&#41;
                        </del>
                        (No disponible)
                    </li>
                } else {
                    <li>
                    <a asp-action="Detalles" asp-controller="Inmueble" asp-route-id="@item.ID"> @item.Dirección </a> &#40;#@item.ID&#41;
                    </li>
                }
            }
        }
    </ul>
    <a asp-action="Editar" asp-route-id="@Model.ID"><button class="btn btn-warning">Editar éste propietario</button></a>
    <a asp-action="Borrar" asp-route-id="@Model.ID"><button class="btn btn-danger">Borrar éste propietario</button></a> <br><br>
    <a asp-action="Nuevo"><button class="btn btn-success">Añadir uno nuevo</button></a>
</div>
