@model ConjuntoResultados;
@{
    ViewData["Title"] = "Editando Contrato";
    Inmueble InmuebleSeleccionado = Model.Inmueble;
    string FechaLimite = Model.Contrato.FechaLímite.ToString ("yyyy-MM-dd");
    string FechaInicio = Model.Contrato.FechaContrato.ToString ("yyyy-MM-dd");
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"] #@Model.Contrato.ID </h1>

    <form asp-action="Editar" method="post">
        <p>Inmueble: @InmuebleSeleccionado.Direccion &#40;#@InmuebleSeleccionado.ID&#41;</p>
        <input type="hidden" name="Propiedad" value="@InmuebleSeleccionado.ID"/>
        <label for="CampoInmueble">Locatario:</label>
        <select id="CampoInmueble" name="Locatario" class="form-select">
            @foreach (var item in Model.Inquilinos) {
                if (item.ID == Model.Contrato.Locatario) {
                    <option value="@item.ID" selected>Locatario original: @item.Nombre &#40;#@item.ID&#41;</option>
                } else {
                    <option value="@item.ID">@item.Nombre &#40;#@item.ID&#41;</option>
                }
            }
        </select>
        <br>
        <br>
        <input name="FechaContrato" type="hidden" value="@FechaInicio"/>
        <label for="CampoFecha">Fecha límite del contrato:</label>
        <input type="date" name="FechaLímite" id="CampoFecha" class="form-control" value="@FechaLimite"/>
        <br>
        @if (Model.Contrato.Vigente == 1) {
            <label for="expirado">Contrato terminado</label>
            <input class="form-check-input" type="radio" name="Vigente" value="0" id="expirado"> <br>
            <label for="vigente">Contrato vigente</label>
            <input class="form-check-input" type="radio" name="Vigente" value="1" id="vigente" checked>
            <h4>El monto del contrato sólo puede establecerse una vez, pero es posible cambiar el monto de los pagos.</h4>
        } else {
            <input type="hidden" name="Vigente" value="0"/>
            <h4 class="text-danger">Contrato expirado.</h4>
        }
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>