@model List<Contrato>;
@{
    ViewData["Title"] = "Contratos de alquiler";
    @* List <Inquilino> ListaInquilinos = ViewBag.Inquilinos; *@
    List <Inmueble> ListaInmuebles = ViewBag.Inmuebles;
    @* List <Propietario> ListaPropietarios = ViewBag.Propietarios; *@
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>
        Contratos de alquiler registrados en la inmobiliaria.<br>
        <a asp-action="Nuevo">Nuevo contrato</a>
    </p>
    <table class="table primary">
        <thead>
            <th>#</th>
            <th>Propiedad</th>
            <!--
            <th>Locatario</th>
            <th>Locador</th>
            <th>Desde</th>
            <th>Hasta</th>
            -->
        </thead>
        @foreach (var item in Model) {
            Inmueble InmuebleSeleccionado = ListaInmuebles.Where(i => i.ID == item.Propiedad).First ();
            if (item.Vigente == 0) {
                <tr>
                <td>@item.ID</td>
                <td><a asp-controller="Inmueble" asp-action="Detalles" asp-route-id="@InmuebleSeleccionado.ID"> @InmuebleSeleccionado.Dirección</a></td>
                <td>Expirado <a asp-action="Detalles" asp-route-id="@item.ID"> (Detalles) </a></td>
                </tr>
            } else {
                <tr class="bg-success">
                <td>@item.ID</td>
                <td><a asp-controller="Inmueble" asp-action="Detalles" asp-route-id="@InmuebleSeleccionado.ID"> @InmuebleSeleccionado.Dirección</a></td>
                <td>Vigente <a asp-action="Detalles" asp-route-id="@item.ID">(Detalles)</a></td>
                </tr>
            }
        }
    </table>
</div>
