@model ConjuntoResultados;
@{
    ViewData["Title"] = "Contratos de alquiler";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>
        @Model.Contratos.Count() contratos registrados. <br>
        <a asp-action="Nuevo"> <button class="btn btn-success"> Nuevo contrato </button> </a> <br>
        <a asp-action="BuscarPorFecha"> <button class="btn btn-info"> Buscar por fecha </button> </a> <br>
    </p>
    <table class="table primary">
        <thead>
            <th>#</th>
            <th>Propiedad</th>
        </thead>
        @foreach (var item in Model.Contratos) {
            Inmueble InmuebleSeleccionado = Model.Inmuebles.Where(i => i.ID == item.Propiedad).First ();
            if (item.Vigente == 0) {
                <tr>
                <td>@item.ID</td>
                <td><a asp-controller="Inmueble" asp-action="Detalles" asp-route-id="@InmuebleSeleccionado.ID"> @InmuebleSeleccionado.Dirección</a></td>
                <td>Expirado <a asp-action="Detalles" asp-route-id="@item.ID"> (Detalles) </a></td>
                </tr>
            } else {
                <tr class="bg-success">
                <td>@item.ID</td>
                <td><a asp-controller="Inmueble" asp-action="Detalles" asp-route-id="@InmuebleSeleccionado.ID"> @InmuebleSeleccionado.Dirección</a></td>
                <td>Vigente <a asp-action="Detalles" asp-route-id="@item.ID">(Detalles)</a></td>
                </tr>
            }
        }
    </table>
</div>
