@model List<Contrato>;
@{
    ViewData["Title"] = "Nuevo Contrato";
    List <Inmueble> ListaInmuebles = ViewBag.Inmuebles;
    List <Inquilino> ListaInquilinos = ViewBag.Inquilinos;
    List <Contrato> ListaContratos = ViewBag.Contratos;
    int? ContratoARenovar = Convert.ToInt32 (Context.Request.Query ["RenovarContrato"].FirstOrDefault ());
    Contrato? ContratoSeleccionado = ListaContratos.Where (item => item.ID == ContratoARenovar).FirstOrDefault ();
    string FechaNueva = "";
    if (ContratoSeleccionado != null) {
        FechaNueva = ContratoSeleccionado.FechaLímite.ToString ("yyyy-MM-dd");
    }
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <form asp-action="Nuevo" method="post">
        <label class="display-6" for="CampoInmueble">Inmueble:</label>
        <select class="form-select" id="CampoInmueble" name="Propiedad" class="form-select">
            @foreach (var item in ListaInmuebles) {
                if (ContratoSeleccionado != null && item.ID == ContratoSeleccionado.Propiedad) {
                    <option value="@ContratoSeleccionado.Propiedad" selected>@item.Dirección &#40;#@item.ID&#41;, propiedad de @item.Dueño.Nombre</option>
                }
                if (item.Dueño != null) {
                    <option value="@item.ID">@item.Dirección &#40;#@item.ID&#41;, propiedad de @item.Dueño.Nombre </option>
                }
            }
        </select>
        <br>
        <label class="display-6" for="CampoLocatario">Locatario:</label>
        <select class="form-select" id="CampoLocatario" name="Locatario" class="form-select">
            @foreach (var item in ListaInquilinos) {
                <option value="@item.ID">@item.Nombre &#40;#@item.ID&#41;</option>
                if (ContratoSeleccionado != null && item.ID == ContratoSeleccionado.Locatario) {
                    <option value="@ContratoSeleccionado.Locatario" selected>@item.Nombre &#40;#@item.ID&#41;</option>
                }
            }
        </select>
        <br>
        <label for="CampoFechaInicio">Fecha de inicio del contrato:</label>
        @if (ContratoARenovar != null) {
            <input class="date" type="date" name="FechaContrato" id="CampoFechaInicio" class="form-control" value="@FechaNueva"/>
        } else {
            <input class="date" type="date" name="FechaContrato" id="CampoFechaInicio" class="form-control"/>
        }
        <label for="CampoFecha">Fecha límite del contrato:</label>
        <input class="date" type="date" name="FechaLímite" id="CampoFecha" class="form-control"/>
        <br>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>