@model List<Inmueble>;
@{
    ViewData["Title"] = "Central de Inmuebles";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>
        No se me ocurre qué poner aquí por ahora. <br>
        <a asp-action="Nuevo">Nueva entrada</a>
    </p>
    <ul>
        @foreach (var item in Model) {
            if (item.Precio is null || item.IDPropietario is null) {
                //Lo de abajo es cómo se muestra en pantalla.
                //Con dueño, sin precio
                if (item.Precio is null && item.IDPropietario is not null) {
                <li>#@item.ID, ubicado en @item.Dirección, @item.Superficie m&#178;, propiedad de @item.Dueño.Nombre [No está en alquiler] <a asp-action="Editar" asp-route-id= "@item.ID">[Editar] </a> <a asp-action="Borrar" asp-route-id= "@item.ID">[Borrar]</a>
                </li>
                }
                //Con precio, sin dueño
                if (item.IDPropietario is null && item.Precio is not null) {
                <li>#@item.ID, ubicado en @item.Dirección, @item.Superficie m&#178;, propiedad de la inmobiliaria [En alquiler por $@item.Precio] <a asp-action="Editar" asp-route-id= "@item.ID">[Editar] </a> <a asp-action="Borrar" asp-route-id= "@item.ID">[Borrar]</a>
                </li>
                }
                //Los dos nulos
                if (item.IDPropietario is null && item.Precio is null) {
                <li>#@item.ID, ubicado en @item.Dirección, @item.Superficie m&#178;, propiedad de la inmobiliaria [No está en alquiler] <a asp-action="Editar" asp-route-id= "@item.ID">[Editar] </a> <a asp-action="Borrar" asp-route-id= "@item.ID">[Borrar]</a>
                </li>
                }
            } else { //Ninguno nulo
                <li>#@item.ID, ubicado en @item.Dirección, @item.Superficie m&#178;, propiedad de @item.Dueño.Nombre [En alquiler por $@item.Precio] <a asp-action="Editar" asp-route-id= "@item.ID">[Editar] </a> <a asp-action="Borrar" asp-route-id= "@item.ID">[Borrar]</a>
                </li>
            }
        }
    </ul>
</div>
