@model Contrato;
@{
    ViewData["Title"] = "Editando Contrato";
    List <Propietario> ListaPropietarios = ViewBag.Propietarios;
    List <Inmueble> ListaInmuebles = ViewBag.Inmuebles;
    List <Inquilino> ListaInquilinos = ViewBag.Inquilinos;
    Inmueble InmuebleSeleccionado = ListaInmuebles.Where (item => item.ID == Model.Propiedad).First ();
    Propietario DueñoSeleccionado = ListaPropietarios.Where (item => item.ID == Model.Locador).First ();
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"] #@Model.ID </h1>

    <form asp-action="Editar" method="post">
        <p>Inmueble: @InmuebleSeleccionado.Dirección &#40;#@InmuebleSeleccionado.ID&#41;</p>
        <input type="hidden" name="Propiedad" value="@InmuebleSeleccionado.ID"/>
        <p>Locador: @DueñoSeleccionado.Nombre &#40;#@DueñoSeleccionado.ID&#41;</p>
        <input type="hidden" name="Locador" value="@DueñoSeleccionado.ID"/>
        <label for="CampoInmueble">Locatario:</label>
        <select id="CampoInmueble" name="Locatario">
            @foreach (var item in ListaInquilinos) {
                <option value="@item.ID">@item.Nombre &#40;#@item.ID&#41;</option>
            }
        </select>
        <br>
        <br>
        <label for="CampoFecha">Fecha límite del contrato:</label>
        <input type="date" name="FechaLímite" id="CampoFecha"/>
        <br>
        <button type="submit">Guardar</button>
    </form>
</div>