@model List<Contrato>;
@{
    ViewData["Title"] = "Nuevo Contrato";
    List <Propietario> ListaPropietarios = ViewBag.Propietarios;
    List <Inmueble> ListaInmuebles = ViewBag.Inmuebles;
    List <Inquilino> ListaInquilinos = ViewBag.Inquilinos;
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <form asp-action="Nuevo" method="post">
        <label for="CampoInmueble">Inmueble:</label>
        <select id="CampoInmueble" name="Propiedad">
            @foreach (var item in ListaInmuebles) {
                if (item.Dueño != null) {
                    <option value="@item.ID">@item.Dirección &#40;#@item.ID&#41;, propiedad de @item.Dueño.Nombre </option>
                }
            }
        </select>
        <br>
        <label for="CampoInmueble">Locatario:</label>
        <select id="CampoInmueble" name="Locatario">
            @foreach (var item in ListaInquilinos) {
                <option value="@item.ID">@item.Nombre &#40;#@item.ID&#41;</option>
            }
        </select>
        <br>
        <label for="CampoPropietario">Locador:</label>
        <select id="CampoPropietario" name="Locador">
            @foreach (var item in ListaPropietarios) {
                <option value="@item.ID">@item.Nombre &#40;#@item.ID&#41;</option>
            }
        </select>
        <br>
        <label for="CampoFecha">Fecha límite del contrato:</label>
        <input type="date" name="FechaLímite" id="CampoFecha"/>
        <br>
        <button type="submit">Guardar</button>
    </form>
</div>